# Inmutabilidad de las cadenas

In [1]:
#tienes un solo hecho sobre la Luna que está asignado a una variable, y debes agregarle otro hecho.

fact = 'The Moon has no atmosphere.'
fact + 'No sound can be heard on the Moon.'

'The Moon has no atmosphere.No sound can be heard on the Moon.'

In [2]:
#Aunque puede parecer que hemos modificado la variable fact, una comprobación rápida del valor revela que el valor original no ha cambiado:
fact

'The Moon has no atmosphere.'

In [3]:
#Para mantener este nuevo resultado, asígnelo a una nueva variable:
two_facts = fact + 'No sound can be heard on the Moon.'
two_facts

'The Moon has no atmosphere.No sound can be heard on the Moon.'

# Acerca del uso de comillas.

In [4]:
#Puedes incluir cadenas de Python entre comillas simples, dobles o triples pero es mejor usar un tipo de manera consistente dentro de un proyecto.

"""We only see about 60% of the Moon's surface, this is known as the "near side"."""

'We only see about 60% of the Moon\'s surface, this is known as the "near side".'

# Texto multilínea

In [5]:
#Hay algunas maneras diferentes de definir varias líneas de texto como una sola variable. (con \n)

multiline = "Facts about the Moon:\n There is no atmosphere.\n There is no sound."
print(multiline)

Facts about the Moon:
 There is no atmosphere.
 There is no sound.

In [7]:
#Puedes lograr el mismno resultado utilizando comillas triples:
multiline = """Facts about the Moon:
...  There is no atmosphere.
...  There is no sound."""
print(multiline)

Facts about the Moon:
...  There is no atmosphere.
...  There is no sound.

# Métodos string en Python

In [8]:
#el método .title() se puede utilizar con una cadena directamente:
'temperatures and facts about the moon'.title()

'Temperatures And Facts About The Moon'

In [1]:
# Y el mismo comportamiento y uso ocurre en una variable:
heading = 'temperatures and facts about the moon'
heading.title()

'Temperatures And Facts About The Moon'

# Dividir una cadena

In [5]:
# El metodo de cadena .split() separará la cadena en cada espacio. Y crea una lista de cada palabra o número que está separado por un espacio:
temperatures = '''Daylight: 260 F
Nighttime: -280 F'''
temperatures .split()

['Daylight:', '260', 'F', 'Nighttime:', '-280', 'F']

In [6]:
# En este ejemplo, se trata de varias líneas, por lo que el carácter de nueva línea (implícito) se puede utilizar para dividir la cadena al final de cada línea, creando líneas individuales:
temperatures .split('\n')

['Daylight: 260 F', 'Nighttime: -280 F']

# Buscar una cadena

In [7]:
# La forma más sencilla de descubrir si existe una palabra, un carácter o un grupo de caracteres determinados en una cadena es sin usar un método:
'Moon' in 'This text will describe facts and challenges with space travel'

False

In [8]:
'Moon' in 'This text will describe facts about the Moon'

True

In [13]:
# Un enfoque para encontrar la posición de una palabra específica en una cadena es usar el método .find():
temperatures = """Saturn has a daytime temperature of -170 degrees Celsius,
... while Mars has -28 Celsius."""

temperatures.find('Moon')

-1

In [14]:
# El método '.find()' devuelve '-1' cuando no se encuentra la palabra o devuelve el índice.
temperatures.find('Mars')

68

In [15]:
# Otra forma de buscar contenido es usar el método .count(), que devuelve el número total de apariciones de una determinada palabra en una cadena:
temperatures.count('Mars')

1

In [16]:
temperatures.count('Moon')

0

In [17]:
# puedes convertir una cadena en todas las letras minúsculas mediante el método '.lower()'.
"The Moon And The Earth".lower()

'the moon and the earth'

In [18]:
# Al igual que el método .lower(), las cadenas tienen un método que hace lo contrario .upper(), convirtiendo cada carácter en mayúsculas:
'The Moon And The Earth'.upper()

'THE MOON AND THE EARTH'

# Comprobar el contenido

In [19]:
temperatures = 'Mars Average Temperature: -60 C'

#Para extraer la temperatura promedio en Marte (Mars), puedes hacerlo con los siguientes métodos:
parts = temperatures.split(':')
parts

['Mars Average Temperature', ' -60 C']

In [21]:
parts[-1]

#Los métodos anteriores confían ciegamente en que todo lo que está después de los dos puntos (:) es una temperatura. La cadena se divide en cuanto encuentra :, lo que produce una lista de dos elementos. Usando [-1] en la lista devuelve el último elemento, que es la temperatura en este ejemplo

' -60 C'

In [23]:
# Si el texto es irregular debes iterar por todos los elemento y comproba si los valore son de un tipo determinado.
mars_temperature = 'The highest temperature on Mars is about 30 C'

for item in mars_temperature.split():
    if item.isnumeric():
        print(item)

30

In [25]:
# puedes comprobar si hay cadenas que se parezcan a decimales .isdecimal()
# Y para los números negativos se puede detectar con el método: .startswith().
'-60'.startswith('-')

True

In [26]:
# Del mismo modo, el método .endswith() ayuda a verificar el último carácter de una cadena:
if "30 C".endswith("C"):
    print("This temperature is in Celsius")

This temperature is in Celsius

# Transformar texto

In [28]:
# Puedes utilizar el método '.replace()' para buscar y reemplazar apariciones de un carácter o grupo de caracteres:
'Saturn has a daytime temperature of -170 degrees Celsius, while Mars has -28 Celsius.'.replace('Celsius', 'C')

'Saturn has a daytime temperature of -170 degrees C, while Mars has -28 C.'

In [29]:
text = 'Temperatures on the Moon can vary wildly.'
'temperatures' in text

False

In [30]:
'temperatures' in text.lower()

True

In [31]:
# El método .join() requiere un iterable como argumento, por lo que su uso se ve diferente de otros métodos de cadena:
moon_facts = ['The Moon is drifting away from the Earth.', 'On average, the Moon is moving about 4cm every year']
'\n'.join(moon_facts) #el caracter '\n' se utiliza para unir todos los elementos.

'The Moon is drifting away from the Earth.\nOn average, the Moon is moving about 4cm every year'

# Formato de cadenas en Python

In [32]:
#Formato con signo de porcentaje (%)
mass_percentage = '1/6'
print('On the Moon, you would weigh about %s of your weight on Earth' % mass_percentage)

On the Moon, you would weigh about 1/6 of your weight on Earth

In [33]:
# El uso de múltiples valores cambia la sintaxis, ya que requiere paréntesis para rodear las variables que se pasan:
print("""Both sides of the %s get the same amount of sunlight,
    but only one side is seen from %s because
    the %s rotates around its own axis when it orbits %s.""" % ('Moon', 'Earth', 'Moon', 'Earth'))

Both sides of the Moon get the same amount of sunlight,
    but only one side is seen from Earth because
    the Moon rotates around its own axis when it orbits Earth.

In [35]:
# El método .format()utiliza llaves ({}) como marcadores de posición dentro de una cadena y utiliza la asignación de variables para reemplazar el texto.
mass_percentage = '1/6'
print('On the Moon, you would weigh about {} of your weight on Earth'.format(mass_percentage))

On the Moon, you would weigh about 1/6 of your weight on Earth

In [36]:
# No es necesario asignar variables repetidas varias veces, lo que lo hace menos detallado porque se deben asignar menos variables:
print("""You are lighter on the {0}, because on the {0} 
... you would weigh about {1} of your weight on Earth""".format("Moon", mass_percentage))

You are lighter on the Moon, because on the Moon
... you would weigh about 1/6 of your weight on Earth

In [38]:
# En lugar de llaves vacías, la sustitución es usar números. utilizamos argumentos de palabras clave en .format() y, a continuación, hacemos referencia a los mismos argumentos dentro de las llaves:
print("""You are lighter on the {moon}, because on the {moon} 
    you would weigh about {mass} of your weight on Earth""".format(moon="Moon", mass=mass_percentage))

You are lighter on the Moon, because on the Moon
    you would weigh about 1/6 of your weight on Earth

In [39]:
# Acerca de las cadenas con  f-strings. Estas cadenas parecen plantillas con las mismas variables con nombre que las del código. El uso de cadenas f en el ejemplo anterior se vería así:
print(f'On the Moon, you would weigh about {mass_percentage} of your weight on Earth')

On the Moon, you would weigh about 1/6 of your weight on Earth

In [40]:
#  si deseas representar el valor 1/6 como un porcentaje con un decimal, puede utilizar la función round() directamente:
round(100/6, 1)

16.7

In [41]:
# Con las cadenas f, no es necesario asignar un valor a una variable de antemano:
print(f'On the Moon, you would weigh about {round(100/6, 1)}% of your weight on Earth')

On the Moon, you would weigh about 16.7% of your weight on Earth

In [42]:
# la cadena podría imponer un estilo de escritura específico para crear un título:
subject = 'interesting facts about the moon'
f'{subject.title()}'

'Interesting Facts About The Moon'

# kata-4 Ejercicios

In [84]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""
text.split('.')

['Interesting facts about the Moon',
 " The Moon is Earth's only satellite",
 ' There are several interesting facts about the Moon and how it affects life here on Earth',
 ' On average, the Moon moves 4cm away from the Earth every year',
 ' This yearly drift is not significant enough to cause immediate effects on Earth',
 ' The highest daylight temperature of the Moon is 127 C',
 '']

In [86]:
# Palabras a usar
palabras = ["average", "remperature", "distance"]

In [90]:
# Ciclo for para recorrer la cadena
for sentence in text:
    for palabras in palabras:
        if palabras in sentence:
            print(sentence)
            break

n
n
n
n
n
n
n
n
n
n
n
n
n
n
n
n
n
n

In [91]:
# Ciclo para cambiar C a Celsius
for sentence in text:
    for palabras in palabras:
        if palabras in sentence:
            print(sentence.replace(' C', ' Celsius'))
            break

n
n
n
n
n
n
n
n
n
n
n
n
n
n
n
n
n
n

In [92]:
text

"Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."

# Ejercicio 2: Formateando Cadenas

In [100]:
# Datos con los que vas a trabajar
name = "Moon"
gravity = 0.00162 # in kms
planet = "Earth"

In [106]:
# creamos el titulo
titulo = f'gravity facts about {name}'
print(titulo)

gravity facts about Moon

In [111]:
# Creamos la plantilla
hechos = f""" {'-'*80}
Nombre del planeta: {planet}
Gravedad en {name}: {gravity * 1000} m/s2
"""
print(hechos)

 --------------------------------------------------------------------------------
Nombre del planeta: Earth
Gravedad en Moon: 1.6199999999999999 m/s2

In [112]:
template = f"""{titulo.title()}
{hechos} 
"""
print(template)

Gravity Facts About Moon
 --------------------------------------------------------------------------------
Nombre del planeta: Earth
Gravedad en Moon: 1.6199999999999999 m/s2

In [113]:
# Nuevos datos:
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

In [119]:
# Nueva Plantilla
Plantilla = """
Datos de Gravedad sobre: {nombre}
-------------------------------------------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""
print(Plantilla.format(nombre=name, planeta=planet, gravedad=gravity))

Datos de Gravedad sobre: Moon
-------------------------------------------------------------------------------
Nombre del planeta: Earth
Gravedad en Moon: 0.00162 m/s2

In [120]:
# Comprobamos
print(Plantilla.format(nombre=name, planeta=planet, gravedad=gravity*1000))

Datos de Gravedad sobre: Moon
-------------------------------------------------------------------------------
Nombre del planeta: Earth
Gravedad en Moon: 1.6199999999999999 m/s2